

<div id="home" style="margin-top: 100px">
  <div id="wrapper">
    <!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
    <section>
      <div class="line">
        <div class="dline"></div>
        <h1 style="color:#54d400;">Horario</h1>
        <div class="dline"></div>
      </div>
      <table class="table table-dark">
        <thead>
        <tr>
          <th scope="col">Horas</th>
          <th scope="col">Lunes</th>
          <th scope="col">Martes</th>
          <th scope="col">Miercoles</th>
          <th scope="col">Jueves</th>
          <th scope="col">Viernes</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td scope="row">8:15-9:15</td>
          <td>EIE (JAL)</td>
          <td>EIE (JAL)</td>
          <td>EIE (JAL)</td>
          <td>DIW (MRC)</td>
          <td>HL.In (SAM)</td>
        </tr>
        <tr>
          <td scope="row">9:15-10:15</td>
          <td>HL.In (SAM)</td>
          <td>HL.In (SAM)</td>
          <td>DAW (JCA)</td>
          <td>DIW (MRC)</td>
          <td>DWC (JGF)</td>
        </tr>
        <tr>
          <td scope="row">10:15-11:15</td>
          <td>DWS (AAP)</td>
          <td>DIW (MRC)</td>
          <td>DAW (JCA)</td>
          <td>DIW (MRC)</td>
          <td>DWC (JGF)</td>
        </tr>
        <tr>
          <td scope="row">11:45-12:45</td>
          <td>DWC (JGF)</td>
          <td>DIW (MRC)</td>
          <td>DAW (JCA)</td>
          <td>Etica (PFP)</td>
          <td>DWS (AAP)</td>
        </tr>
        <tr>
          <td scope="row">12:45-13:45</td>
          <td>DWC (JGF)</td>
          <td>DWS (AAP)</td>
          <td>DWS (AAP)</td>
          <td>DWC (JGF)</td>
          <td>DWS (AAP)</td>
        </tr>
        <tr>
          <td scope="row">13:45-14:45</td>
          <td>DIW (MRC)</td>
          <td>DWS (AAP)</td>
          <td>DWS (AAP)</td>
          <td>DWC (JGF)</td>
          <td>DWS (AAP)</td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
