<div id="home" style="margin-top: 100px">
  <div id="wrapper">
    <!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
    <section>
      <div class="line">
        <div class="dline"></div>
        <h1 style="color:#54d400; margin-left: 30px">Panel de Control</h1>
        <div class="dline"></div>

        <div class="container">
          <div class="content">
            <span style="color:white; margin-left: 20px">Plano de CSI-2</span>
            <br />

            <!--Plano de Clase-->

            <div class="d-flex p-3 text-white">
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 0)">1</div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 1)">2</div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 2)">3</div>
              <div class="p-2" style="width: 70px; height: 70px;"></div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 3)">4</div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 4)">5</div>
              <button class="btn-lg btn-primary p-2" type="button" style="margin-left: 150px; height: 60px; width: 180px; cursor: pointer" routerLink="/parte">Parte de Clase</button>
            </div>

            <div class="d-flex p-3 text-white">
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 5)">6</div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 6)">7</div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 7)">8</div>
              <div class="p-2" style="width: 70px; height: 70px;"></div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 8)">9 </div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 9)">10</div>
              <button class="btn-lg btn-primary p-2" style="margin-left: 150px; height: 60px; width: 180px; cursor: pointer" routerLink="/lista">Alumnos</button>
            </div>

            <div class="d-flex p-3 text-white">
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 10)">11</div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 11)">12</div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 12)">13</div>
              <div class="p-2 " style="width: 70px; height: 70px;"></div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 13)">14</div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 14)">15</div>
              <button class="btn-lg btn-primary p-2" style="margin-left: 150px; height: 60px; width: 180px; cursor: pointer" routerLink="/listaFaltas">Lista de Faltas</button>
            </div>

            <div class="d-flex p-3 text-white">
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 15)">16</div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 16)">17</div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 17)">18</div>
              <div class="p-2 " style="width: 70px; height: 70px;"></div>
              <div class="p-2 bg-light bordeF">19</div>
              <div class="p-2 bg-light bordeF" (click)="open(content, numero = 18)">20</div>
            </div>

            <div class="d-flex p-3 text-white">
              <div class="p-2 bg-light bordeF">21</div>
              <div class="p-2 bg-light bordeF">22</div>
              <div class="p-2 bg-light bordeF">23</div>
            </div>

            <a (click)="logout()" href="login">Logout</a>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Alumno</h4>
  </div>
  <div class="modal-body">
    <p><strong>Nombre:</strong> {{alumnos[numero].Nombre}}</p>
    <p><strong>Apellidos:</strong> {{alumnos[numero].Apellidos}}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{alumnos[numero].fechaNacimiento.seconds * 1000 | date:'dd/MM/yyyy'}}</p>
    <p><strong>Equipo:</strong> {{alumnos[numero].Equipo}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>


