

<div id="home" style="margin-top: 100px">
  <div id="wrapper">
    <!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
    <section>
      <div class="line">
        <div class="dline"></div>
        <h1 style="color:#54d400;">Profesores</h1>
        <div class="dline"></div>
      </div>
      <table class="table table-dark">
        <thead>
        <tr>
          <th scope="col">Nombres</th>
          <th scope="col">Cód.</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td scope="row">D. Alberto Arjona Pozo (TUTOR)</td>
          <td>AAP</td>
        </tr>
        <tr>
          <td scope="row">D. Juan Antonio Andrés Lalueza</td>
          <td>JAL</td>
        </tr>
        <tr>
          <td scope="row">D. Sergio Alcaraz Montiel</td>
          <td>SAM</td>
        </tr>
        <tr>
          <td scope="row">D. Jose María Carazo Abolafia</td>
          <td>JCA</td>
        </tr>
        <tr>
          <td scope="row">D. Josemaría García de Polavieja Ferre</td>
          <td>JGF</td>
        </tr>
        <tr>
          <td scope="row">D. Manuel Rodríguez Cordones</td>
          <td>MRC</td>
        </tr>
        <tr>
          <td scope="row">D. Pablo Fernández-Montes Prieto </td>
          <td>PFP</td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
