<div id="home" style="margin-top: 100px">
  <div id="wrapper">
    <!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
    <section>
      <div class="line">
        <div class="dline"></div>
        <h1 style="color:#54d400; margin-left: 30px">Lista de Faltas</h1>
        <div class="dline"></div>
        <div class="container">
          <table class="table table-dark">
            <thead>
            <tr>
              <th scope="col">Alumno</th>
              <th *ngFor="let asig of asignaturas" scope="col">{{asig.Nombre}}</th>
              <th scope="col">Faltas Totales</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let al of alumnos">
              <td class="text-center">{{al.Nombre + " " + al.Apellidos}}</td>
              <td class="text-center">{{calcularFaltasDaw(al.id,0)}}</td>
              <td class="text-center">{{calcularFaltasDaw(al.id,1)}}</td>
              <td class="text-center">{{calcularFaltasDaw(al.id,2)}}</td>
              <td class="text-center">{{calcularFaltasDaw(al.id,3)}}</td>
              <td class="text-center">{{calcularFaltasDaw(al.id,4)}}</td>
              <td class="text-center">{{calcularFaltasDaw(al.id,5)}}</td>
              <td class="text-center">{{calcularFaltasDaw(al.id,6)}}</td>
              <td class="text-center">{{calcularFaltas(al.id)}}</td>
            </tr>
            </tbody>
          </table>
          <a routerLink="/admin" href="login">Volver</a>
        </div>
      </div>
    </section>
  </div>
</div>



