<div id="home" style="margin-top: 100px">
  <div id="wrapper">
    <!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
    <section>
      <div class="line">
        <div class="dline"></div>
        <h1 style="color:#54d400; margin-left: 30px">Panel de Control</h1>
        <div class="dline"></div>

        <div class="container">
          <div class="content">

            <form class="ml-4 text-white">
            Asignaturas: <select [(ngModel)]="asign" [ngModelOptions]="{standalone: true}" class="custom-select mr-sm-2" id="inlineFormCustomSelect" style="width: 150px; margin-left: 50px">
              <option *ngFor="let asig of asignaturas" value={{asig.id}}>{{asig.Nombre}}</option>
            </select>
            </form>
            <br />

            <!--Plano de Clase-->

            <div class="d-flex p-3 text-white">
              <div *ngIf="!alumnos[0].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(00)">{{alumnos[0].Nombre + " " + alumnos[0].Apellidos}}</div>
              <div *ngIf="alumnos[0].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(00)">{{alumnos[0].Nombre + " " + alumnos[0].Apellidos}}</div>
              <div *ngIf="!alumnos[1].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(01)">{{alumnos[1].Nombre + " " + alumnos[1].Apellidos}}</div>
              <div *ngIf="alumnos[1].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(01)">{{alumnos[1].Nombre + " " + alumnos[1].Apellidos}}</div>
              <div *ngIf="!alumnos[2].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(02)">{{alumnos[2].Nombre + " " + alumnos[2].Apellidos}}</div>
              <div *ngIf="alumnos[2].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(02)">{{alumnos[2].Nombre + " " + alumnos[2].Apellidos}}</div>

              <div class="p-2" style="width: 70px; height: 70px;"></div>
              <div *ngIf="!alumnos[3].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(03)">{{alumnos[3].Nombre + " " + alumnos[3].Apellidos}}</div>
              <div *ngIf="alumnos[3].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(03)">{{alumnos[3].Nombre + " " + alumnos[3].Apellidos}}</div>
              <div *ngIf="!alumnos[4].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(04)">{{alumnos[4].Nombre + " " + alumnos[4].Apellidos}}</div>
              <div *ngIf="alumnos[4].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(04)">{{alumnos[4].Nombre + " " + alumnos[4].Apellidos}}</div>
            </div>

            <div class="d-flex p-3 text-white">
              <div *ngIf="!alumnos[5].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(05)">{{alumnos[5].Nombre + " " + alumnos[5].Apellidos}}</div>
              <div *ngIf="alumnos[5].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(05)">{{alumnos[5].Nombre + " " + alumnos[5].Apellidos}}</div>
              <div *ngIf="!alumnos[6].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(06)">{{alumnos[6].Nombre + " " + alumnos[6].Apellidos}}</div>
              <div *ngIf="alumnos[6].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(06)">{{alumnos[6].Nombre + " " + alumnos[6].Apellidos}}</div>
              <div *ngIf="!alumnos[7].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(07)">{{alumnos[7].Nombre + " " + alumnos[7].Apellidos}}</div>
              <div *ngIf="alumnos[7].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(07)">{{alumnos[7].Nombre + " " + alumnos[7].Apellidos}}</div>
              <div class="p-2" style="width: 70px; height: 70px;"></div>
              <div *ngIf="!alumnos[8].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(08)">{{alumnos[8].Nombre + " " + alumnos[8].Apellidos}}</div>
              <div *ngIf="alumnos[8].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(08)">{{alumnos[8].Nombre + " " + alumnos[8].Apellidos}}</div>
              <div *ngIf="!alumnos[9].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(09)">{{alumnos[9].Nombre + " " + alumnos[9].Apellidos}}</div>
              <div *ngIf="alumnos[9].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(09)">{{alumnos[9].Nombre + " " + alumnos[9].Apellidos}}</div>
            </div>

            <div class="d-flex p-3 text-white">
              <div *ngIf="!alumnos[10].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(10)">{{alumnos[10].Nombre + " " + alumnos[10].Apellidos}}</div>
              <div *ngIf="alumnos[10].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(10)">{{alumnos[10].Nombre + " " + alumnos[10].Apellidos}}</div>
              <div *ngIf="!alumnos[11].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(11)">{{alumnos[11].Nombre + " " + alumnos[11].Apellidos}}</div>
              <div *ngIf="alumnos[11].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(11)">{{alumnos[11].Nombre + " " + alumnos[11].Apellidos}}</div>
              <div *ngIf="!alumnos[12].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(12)">{{alumnos[12].Nombre + " " + alumnos[12].Apellidos}}</div>
              <div *ngIf="alumnos[12].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(12)">{{alumnos[12].Nombre + " " + alumnos[12].Apellidos}}</div>
              <div class="p-2 " style="width: 70px; height: 70px;"></div>
              <div *ngIf="!alumnos[13].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(13)">{{alumnos[13].Nombre + " " + alumnos[13].Apellidos}}</div>
              <div *ngIf="alumnos[13].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(13)">{{alumnos[13].Nombre + " " + alumnos[13].Apellidos}}</div>
              <div *ngIf="!alumnos[14].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(14)">{{alumnos[14].Nombre + " " + alumnos[14].Apellidos}}</div>
              <div *ngIf="alumnos[14].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(14)">{{alumnos[14].Nombre + " " + alumnos[14].Apellidos}}</div>
            </div>

            <div class="d-flex p-3 text-white">
              <div *ngIf="!alumnos[15].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(15)">{{alumnos[15].Nombre + " " + alumnos[15].Apellidos}}</div>
              <div *ngIf="alumnos[15].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(15)">{{alumnos[15].Nombre + " " + alumnos[15].Apellidos}}</div>
              <div *ngIf="!alumnos[16].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(16)">{{alumnos[16].Nombre + " " + alumnos[16].Apellidos}}</div>
              <div *ngIf="alumnos[16].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(16)">{{alumnos[16].Nombre + " " + alumnos[16].Apellidos}}</div>
              <div *ngIf="!alumnos[17].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(17)">{{alumnos[17].Nombre + " " + alumnos[17].Apellidos}}</div>
              <div *ngIf="alumnos[17].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(17)">{{alumnos[17].Nombre + " " + alumnos[17].Apellidos}}</div>
              <div class="p-2 " style="width: 70px; height: 70px;"></div>
              <div class="p-2 bg-light bordeF2"></div>
              <div *ngIf="!alumnos[18].Seleccionado" class="p-2 bg-light bordeF" (click)="seleccionar(18)">{{alumnos[18].Nombre + " " + alumnos[18].Apellidos}}</div>
              <div *ngIf="alumnos[18].Seleccionado" class="p-2 bg-danger bordeF" (click)="seleccionar(18)">{{alumnos[18].Nombre + " " + alumnos[18].Apellidos}}</div>
            </div>

            <div class="d-flex p-3 text-white">
              <div class="p-2 bg-light bordeF2"></div>
              <div class="p-2 bg-light bordeF2"></div>
              <div class="p-2 bg-light bordeF2"></div>
            </div>

            <button class="btn-sm btn-primary p-2" type="button" style="margin-left: 16px; height: 60px; width: 180px; cursor: pointer" routerLink="/listaFaltas" (click)="addFalta()">Confirmar</button>


          </div>
        </div>

      </div>
    </section>
  </div>
</div>

