

<div id="home" style="margin-top: 100px">
<div id="wrapper">
  <div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
      <img src="../../../assets/images/altair.jpg" />
    </div>
  </div>

  <!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
  <section>
    <div class="line">
      <div class="dline"></div>
      <h1 style="color:#54d400;">Descripcion</h1>
      <div class="dline"></div>
    </div>
    <p style="color: white">Este ciclo formativo permite al titulado prepararse para poder desarrollar, implantar y mantener aplicaciones web, garantizando los criterios de calidad establecidos y la seguridad en el acceso a los datos.</p>
    <div class="line">
      <div class="dline"></div>
      <h1 style="color:#54d400;">Vias de acceso</h1>
      <div class="dline"></div>
    </div>
    <p style="color: white">A continuación te explicamos las diferentes vías que te permiten acceder a estos estudios.<br>

      Para ello, se requiere cumplir al menos uno de los siguientes requisitos:</p>
    <ul style="color: white">
      <li>Estar en posesión del título de Bachiller, o de un certificado acreditativo de haber superado todas las materias del Bachillerato.</li>
      <li>Estar en posesión de un título de Técnico/a de FP (en los casos que hay más demanda que oferta, cada Comunidad Autónoma establece unos criterios de admisión en los que fija el porcentaje de plazas reservado a los Técnicos/as).</li>
      <li>Estar en posesión de un título de Técnico/a Superior de FP.</li>
      <li>Estar en posesión de una Titulación Universitaria o equivalente.</li>
      <li>Haber superado la prueba de acceso a Ciclos Formativos de Grado Superior.</li>
      <li>Haber superado un curso de preparación para la incorporación a los CFGS (se imparte en algunas Comunidades Autónomas).</li>
      <li>Haber superado la prueba de acceso a la Universidad para mayores de 25 años.</li>
      <li>También puedes acceder si estás en posesión de alguna de las siguientes titulaciones o cursos contemplados por leyes educativas anteriores:</li>
      <li>Estar en posesión del título de Bachillerato Unificado Polivalente (BUP).</li>
      <li>Estar en posesión de un título de Técnico/a Especialista o equivalente a efectos académicos.</li>
      <li>Haber superado el segundo curso de cualquier modalidad de Bachillerato experimental.</li>
      <li>Haber superado el Curso de Orientación Universitaria (COU).</li>
    </ul>
    <div class="line">
      <div class="dline"></div>
      <h1 style="color:#54d400;">Plan de Estudios</h1>
      <div class="dline"></div>
    </div>
    <p style="color: white">En este apartado te mostramos algunas de las asignaturas representativas de este estudio.<br>
      Horas lectivas: 2000<br>
      Horas de formación en centros de trabajo: 400<br>
      Horas de formación en el centro educativo: 1600<br></p>
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">Módulo Profesional</th>
        <th scope="col">Horas</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td scope="row">Bases de datos</td>
        <td>170</td>
      </tr>
      <tr>
        <td scope="row">Desarrollo web en entorno cliente</td>
        <td>125</td>
      </tr>
      <tr>
        <td scope="row">Despliegue de aplicaciones web</td>
        <td>90</td>
      </tr>
      <tr>
        <td scope="row">Diseño de interfaces web</td>
        <td>125</td>
      </tr>
      <tr>
        <td scope="row">Empresa e iniciativa emprendedora</td>
        <td>60</td>
      </tr>
      <tr>
        <td scope="row">Formación en centros de trabajo</td>
        <td>400</td>
      </tr>
      <tr>
        <td scope="row">Proyecto de desarrollo de aplicaciones web</td>
        <td>40</td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
</div>
